<!DOCTYPE html>
<html lang="en">

  <head>
  	<meta charset="UTF-8">
  	<title>PhotoBooth</title>
      {# // <script src="/public/js/mjpeg.js"></script> #}
      <link rel="stylesheet" href="public/css/main.css">
  </head>

  <body onload="createImageLayer();">
    <input type="button" onclick="setCountDown(5)" value="Photo" id="ctdStart">
    <div id="content">
      <h1 id="countdown"></h1>
      {# <div id="webcam"><noscript><img src="http://127.0.0.1:9000?action=snapshot" /></noscript></div> #}
      <div id="webcam">
        <img id="stream" src="http://{{ serverUrl }}:9000?action=stream" alt="">
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/client.js"></script>
    
  </body>

</html>
